@tailwind base;
@tailwind components;
@tailwind utilities;
html[dir="rtl"] {
  text-align: right;
}

input,
textarea {
  text-align: right;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply overflow-x-hidden w-full;
  padding: 0;
  overflow-x: hidden;
  background-color: #f9fafb;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem; /* معادل space-x-4 */
  padding-bottom: 1rem; /* معادل pb-4 */
  scrollbar-width: none; /* مخفی کردن اسکرول در فایرفاکس */
}
.scroll-container::-webkit-scrollbar {
  display: none; /* مخفی کردن اسکرول در کروم */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .backdrop-blur-lg {
    background: rgba(204, 203, 203, 0.7) !important;
    
  }
} */

@layer utilities {
  @variants dark {
    .filter-none {
      filter: none;
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
  }
}
